<div class="card-header bg-danger text-white mb-3">
    <h4>Login Form</h4>
</div>
<div class="card-card-body">
    <form (submit)="login($event)">
        <div class="form-group">
            <label for="name">Enter Username : </label>
            <input type="text" name="username" id="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Enter Password : </label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-danger">Log In</button>
    </form>
</div>